{% load static %}
<section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

       <!-- <ol class="carousel-indicators"></ol>-->

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static 'img/login_background.jpg' %}" alt=""></div>
                <div class="carousel-container">
                    <div class="carousel-content">
                     <h2>Rating System</h2>
                     
                        <p>in This system you can make you company better
                        and make your employee more Helter and more competitev.</p>
                    </div>
                </div>
            </div>

          
          </div>
        </div>
    </div>
    </div>
  </section><!-- #intro -->
